body,
html,
h1,
h3 {
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  padding: 3%;
  background-color: rgb(204, 203, 199);
}
.main_and_aside{
  display: flex;
  flex: 1; /*растягивает основную часть и боковую область на весь экран по высоте - flex - показывает могут ли флекс элементы вырасти, если есть свободное пространство, и как распределяется это пространство между элементами */
}
.main_part{
  position: relative;
  flex:3;
  background-color: bisque;
}
.aside {
  flex:1; /*Что лучше использовать для указания ширины: прописать размер или лучше использовать flex:1;??? Сачала я задавала ширину основному блоку 70% и боковой части 30%, потом изменила на флекс, что является более правильным??? */
  padding: 2% 5% 20%;
  background-color: rgba(46, 119, 95, 0.452);
}
.main_title {
  display: block;
   /*Где я могу посмотреть какое первоначальное значение display? Или текст всегда инлайн элемент? Правильно ли я делаю, что задаю ему значение блок, чтобы управлять его отступами от края или это можно как то иначе сделать? */
  padding: 20px;
}
.class {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  bottom: 0;
  width: 100%;
}
.class_1,
.class_2,
.class_3 {
  flex-grow: 1;
  padding: 3% 0 3%;
  background-color: rgb(231, 196, 153);
}
.class_1 {
  margin: 0 1% 1% 2%;
}
.class_2 {
  margin: 0 2% 1% 1%;
}
.class_3 {
  width: 100%;
  margin: 1% 2% 2% 2%;
}
.footer {
  display: flex;
  justify-content: space-around;
  background-color: rgba(109, 106, 106, 0.377);
}
.section_1,
.section_2,
.section_3 {
  flex-grow: 1;
  background-color: rgb(221, 228, 233);
  padding: 3%; /*Стоит ли задавать padding для всех сторон, если есть flex, или лучше прописать для вверха и низа padding отдельно, просто это йзаймет больше времени? Из-за флекса же паддинги боковые не будут учитываться,флекс-элемент будет же стремится занять свободное место*/
  text-align: center;
}
.section_1 {
  margin: 2% 1% 2% 2%;
}
.section_2 {
  margin: 2% 1% 2% 1%;
}
.section_3 {
  margin: 2% 2% 2% 1%;
}
.header,
.main_part,
.aside,
.footer {
  font-weight: bold;
  font-size: 25px; /**Хотела настроить размер для всех записей, но не получается через условные единицы и проценты, как-то не так настраивается, невозможно управлять, можно ли вообще так задавать размер и толщину для всех элементов одновременно, когда вот так мало текста?
  Если здесь задавать через условные единицы или проценты размер текста меняется как-то странно, только в px более менее результат
  и у меня вообще проблема с заданием размеров, как все -таки правильнее задавать, чтобы верстка получалась адаптивной? Не могу разобраться с этим, от каких элементов считаеся размер, когда относительный или в процентах? Может быть есть какая-нибудь информация? читала статьи но разобраться все равно не получается*/
text-align: center;
}
@media screen and (max-width: 650px){
.header,
.main_part,
.aside,
.footer{font-size: 16px;}
.main_and_aside{
  flex-direction: column;
}
}

